*{
	box-sizing: border-box;
}

.mainedit{
	position: relative;
}

.mainimage{

}

.main{
	position: absolute;
	font-size: 16px;
	font-family: Poppins;
	color: #FFFFFF;
	top: 20px;
	left: 150px;

}
.homeedit{
	display: inline-block;
	position: absolute;
	color: #FFFFFf;
	top: 20px;
	left: 670px;
}
.roomsedit{
	display: inline-block;
	position: absolute;
	color: #FFFFFF;
	top: 20px;
	left: 750px;
}
.restedit{
	display: inline-block;
	position: absolute;
	color: #FFFFFF;
	top: 20px;
	left: 840px;
}

.aboutedit{
	display: inline-block;
	position: absolute;
	color: #FFFFFF;
	top: 20px;
	left: 970px;
}

.blogedit{
	display: inline-block;
	position: absolute;
	color: #FFFFFF;
	top: 20px;
	left: 1080px;
}

.contactedit{
	display: inline-block;
	position: absolute;
	color: #FFFFFF;
	top: 20px;
	left: 1160px;
}
.h1edit{
	height: 160px;
	width: 576px;
	position: absolute;
	font-family: Poppins;
	font-size: 62px;
	color: #FBFBFB; 
	top: 240px;
	left: 150px;
}

.h1edit2{
	height: 160px;
	width: 576px;
	position: absolute;
	font-family: Poppins;
	font-size: 62px;
	color: #FBFBFB; 
	top: 300px;
	left: 150px;
}

.pedit{
	width: 352px;
	height: 64px;
	position: absolute;
	font-size: 14px;
	color: #FBFBFB; 
	top: 400px;
	left: 150px
}

.p2edit{
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	color: #FBFBFB; 
	top: 600px;
	left: 150px;

}

.imgbutton{
	width: 102px;
	position: absolute;
	top: 550px;
	left: 1150px;
}

.h1sect{
	position: relative;
	width: 374px;
	font-size: 40px;
	font-family: Poppins;
	color: #000000; 
	top: 100px;
	left: 150px;
}

.psect{
	position: relative;
	width: 444px;
	font-size: 14px;
	font-weight: bold;
	color: #000000; 
	top: 130px;
	left: 150px;
}

.ppsect{
	position: relative;
	width: 444px;
	font-size: 14px;
	font-weight: bold;
	color: #000000; 
	top: 160px;
	left: 150px;
}

.imgsect{
	position: absolute;
	width: 184px;
	top: 1050px;
	left: 160px;

}

.imgsect2{
	position: absolute;
	width: 536px;
	top: 750px;
	left: 700px;
}

.footedit{
	position: relative;
	width: 100%;
	height: 304px;
	background-color: black;
	top: 450px;

}

.footh1{
	position: absolute;
	font-size: 24px;
	font-family: Poppins;
	font-weight: bold;
	color: #FBFBFB; 
	top: 70px;
	left: 150px;
}

.footp{
	position: absolute;
	width: 800px;
	font-size: 16px;
	color: #FBFBFB; 
	top: 130px;
	left: 150px;
}

.footfb{
	position: absolute;
	top: 200px;
	left: 150px;
}

.foottw{
	position: absolute;
	top: 200px;
	left: 200px;
}

.footgg{
	position: absolute;
	top: 200px;
	left: 250px;
}

.footp2{
	position: absolute;
	width: 800px;
	font-size: 16px;
	color: #FBFBFB; 
	top: 250px;
	left: 150px;
}

.editblue{
	color: #5863F8;
	
}